$noise-bg: image-url('noise.png') top left;
$img-border: inline-image('dotted-border.png');

// Main Link Colors
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;

/* Core theme application */
$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
a {
  @include transition(color .3s);
}

body 
{
    background-image: url("../images/robot-flipped.png");
    background-repeat: no-repeat;
    padding-left: 160px;
    background-position: -30px 7px;
    background-size: 14% auto;
}

.hidden {
    display: none;
}

dt 
{
    float:left;
    font-weight: bold;
    margin-right: 8px;
}

#title
{
    font-family: 'Play', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    color: #333;
    margin-bottom: 20px;
}

#title a:hover #subtitle{
    text-decoration: none;
    color: #000;
}
#title a:hover {
    text-decoration: none;
}

#subtitle
{
    color: #999;
}

a, a:visited, a:link, a:active 
{
    color: #222;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#content a {
    text-decoration: underline;
}

#content a:hover {
    text-decoration: none;
}

.primary-nav 
{
    height: 30px;
    font-size: 13px;

    ul
    {
        margin-left: 0;
    }

    li
    {
        display: inline;
    }

    li a
    {
        background-color: #EEEEEE;
        padding: 7px 10px;
    }

    li a:hover, li.current a
    {
        background-color: rgba(255,204,0,.5);
        text-decoration: none;
    }
}

#main {
    width: 780px;
    padding: 10px;
    padding-left: 0;
}

#content {
    font-size: 16px;
    min-height: 265px;
}

footer {
    font-size: 12px;
    width: 780px;
    clear: both;
}

footer p {
    border-top: 1px solid #999;
    text-align: center;
    color: #777;
}

/** Portolfio Page **/

$cropped-size: 75px;
$image-size: 300px;

.portfolio-pieces {
    position: relative;
}

.image-crop {
    overflow: hidden;
    width: $cropped-size;
    height: $cropped-size;
    float: left;
    margin-right: 7px;
    padding: 5px;
    border: 1px solid transparent;
}

.image-crop:hover {
    border: 1px dashed #999;
    cursor: pointer;
}

.active-image:hover {
    border: 1px solid transparent;
}

.portfolio-image {
    width: $image-size;
    margin-left: -100px;
    margin-top: -100px;
}

.portfolio-image {
    filter: url(/images/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    /*-webkit-filter: grayscale(1); */ /* Webkit Nightlies & Chrome Canary */
}

.active-image img, .portfolio-image:hover {
    filter: none;
}

.active-image {
    z-index: 5 !important;
    overflow: visible;
}

$shadow: 0 0 5px #DDD;

.piece-info {
    padding-left: 335px;
    padding-top: 10px;
    z-index: 4;
    background: rgba(255,255,255,.8);
    display: none;
    position: relative;
}
.technology b {
    font-weight: bold;
}

$image-nav-padding: 2px;
.image-nav {
    width: $image-size - ($image-nav-padding * 2);
    padding: 0 $image-nav-padding;
    margin-top: 2px;
    border-top: 1px solid #CCC;
    padding-top: 5px;
    display: none;
}

.active-image .image-nav {
    display: block;
}

$arrow-width: 120px;
$close-link-width: $image-size - ($arrow-width * 2);

.arrow {
    color: #999999;
    cursor: pointer;
    font-family: "Lucida Grande";
    font-size: 30px;
    width: $arrow-width - $image-nav-padding;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.arrow:hover, .active-image img:hover + .image-nav .close-link {
    color: #000;
}

.close-link {
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: $close-link-width;
}

.full-length {
    width: $image-size;
}

.next-image {
    float: right;
    text-align: right;
}

.prev-image {
    float: left;
}
