<ul class="navigation">
    {% for link in site.navigation %}
        {% assign current = nil %}
        {% capture page_url %}{{ page.url | replace:'/index.html','/'}}{% endcapture %}
        {% if page_url == link.url or page.layout == link.layout %}
            {% assign current = 'current' %}
        {% endif %}
        <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
        <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
        </li>
    {% endfor %}
</ul>

