---
layout: page
title: "Portfolio"
date: 2011-11-13 03:11
comments: false
sharing: false
footer: false
sidebar: false
portfolio: 
 -  name: Twitter.com
    class: twitter
    description: Twitter.com, Twitter Inc's primary web application.
    role: Frontend engineer on the web profiles team. Our team is reponsible for the profile page, settings pages, profile popup, and direct message dialog.
    technology: Scala, Ruby, Ruby on Rails, jQuery, flight.js, mustache, jasmine, webdriver, and many custom technologies
    images:
        - twitter-bird-small.png
        - twitter-popup.png
 -  name: Home Depot Layout Tool
    description: Designed to allow reset team members to diagram the layout of a Home Depot department from a birds eye view and then drill into each product “bay” to add images and other meta information. This information was gathered from 2000+ plus stores across the country and could be interactively viewed by Home Depot Store Support Center in Atlanta.
    role: Lead front end engineer. Wrote custom form framework. Lead the rewrite using Django and Backbone.js
    technology: Django, Python, JavaScript, jQuery, Jquery UI, Backbone.js, Underscore.js, HTML, CSS, 
    images:
        - drawingtool.png
        - drawingtool2.png
        - drawingtool3.png
        - drawingtool4.png

 -  name: Aaron’s Management Performance Dashboard (AMP)
    description: Created to allow eligible employees to track their impact on the company’s performance and opt into a stock grant program.
    role: "Oversaw front end development. Created two custom widgets: a tachometer and cascading list"
    technology: ASP.Net MVC 3, C#, Razor, JavaScript, jQuery, Jquery UI, Canvas, HTML, CSS, 
    images:
        - amp1.png
        - amp2.png

 -  name: Aaron’s Multi Unit Manager (MUM)
    description: Created to allow managers who oversee multiple stores the ability to view and interact with their store's local data. It is a distributed system that uses a peer to peer architecture to achieve local data access. It is also a one page application that makes heavy use of ajax to provide a highly responsive user experience.
    role: Lead Developer. Planned backend and front end architecture.
    technology: ASP.Net MVC3, C#, Razor, SQL Server, HTML, CSS, JavaScript, jQuery, Jquery UI, Underscore.js, KnockoutJS
    images:
        - mum1.png
        - mum2.png
        - mum3.png
        - mum4.png
    
 -  name: Whiteoak Pastures
    description: Worked with Green Olive Media to integrate their redesign of whiteoakpastures.com with the existing E-Commerce Solution.
    role: Sole developer. Wrote e-commerce theme from design. Performed server move. On going maintenance.
    technology: PHP, MySQL, Zen Cart, HTML, CSS, JavaScript
    images:
        - whiteoak.png
        - whiteoak2.png

 -  name: Probate Court Information System (PCIS)
    description: Created to replace a legacy Microsoft Access application that was becoming impossible to maintain. It is used by probate court clerks to manage information, generate forms, reports, and receipts for marriage licenses, firearms licenses, probate cases, birth certificates, death certificates, and wills.
    role: Came in late to the project and did both backend and front end development to finish the project and delivery it to the client.
    technology: Java, Struts, iText, Oracle 10g, Tomcat, jQuery, jQuery UI, JSP, HTML, and CSS.
    images:
        - aoc_logo.png

 -  name: AOC Citation Data Web Services
    description: Developed to allow the transfer of traffic citation information from police departments, to courts and finally to a citation data warehouse. Project included a web application that managed web service consumer credentials and authorization.
    role: Co-Developed Court-to-State web service, Web application, and automated web service testing system. Solely developed Reporting and Citation Code List web service.
    technology: Java, Tomcat, Oracle 10g, Apache CXF, Apache Axis2, WSDL, XML, SOAP, jQuery, HTML, CSS, Maven, Spring, Spring MVC, Hibernate, Python, JaxB
    images:
        - aoc-webservices.png

 -  name: GT Theta Xi Fraterntiy Intranet & Website
    description: In addition to running the fraternities public facing internet presence this drupal website acts as an intranet that provides brother and associate profiles, rush management, associate education tracking, and various member reporting using role based permissions.
    role: Development and Design
    technology: Drupal, PHP, MySQL, jQuery, HTML, CSS, JavaScript
    images:
        - gttx1.png
        - gttx2.png

 -  name: Jon-Julie.com (My Wedding Website)
    description: This site was designed for our wedding guests. It allowed guests to learn our story, meet the wedding party, get directions (via Google Maps), look at our registry, view our engagement photos, sign an online guest book, and send us an email.
    role: Development and Design
    technology: Drupal, PHP, MySQL, jQuery, HTML, CSS, JavaScript, Google Maps
    images:
        - jonjulie1.png
        - jonjulie2.png
        - jonjulie3.png
        - jonjulie4.png

 -  name: Process Logic Inc.
    description: A brochurware site for Process Logic Inc., an IT Services Company. Process Logic came to me with a need to replenish their brand and refresh their web presence. I helped them create a more modern site and logo. Using CMS really paid off with this site, because the client took advantage of the ability to add photos and update content without my assistance.
    role: Development and Design 
    technology: Drupal, PHP, MySQL, jQuery, HTML, CSS, JavaScript
    images:
        - processlogic1.png
        - processlogic2.png
        - processlogic3.png
 -  name: The Green Flue
    description: The Green Flue is a cost and energy saving device that prevents heat loss through leaks in your chimney. I developed an E-Commerce site using Drupal and Ubercart to sell the product. I did the logo, web design, and custom graphics for this site.
    role: Development and Design
    technology: Drupal, Ubercart, PHP, MySQL, jQuery, HTML, CSS, JavaScript
    images:
        - thegreenflue1.png
        - thegreenflue2.png
        - thegreenflue3.png
        - thegreenflue4.png
---
<div class="portfolio-pieces">
{% for piece in page.portfolio %}
    <div class="piece-info {{ piece.class }}">
        <h3>{{ piece.name }}</h3>
        <p class="description">{{ piece.description }}</p>
        <h4>Role</h4>
        <p class="role">{{ piece.role }}</p>
        <h4>Technology</h4>
        <p class="technology">{{ piece.technology }}</p>
    </div>
{% endfor %}
    <div class="portfolio-images group">
    {% for piece in page.portfolio %}
        {% if piece.images %}
            <div class="image-crop">
                {% for image in piece.images %}
                {% assign hidden = "" %} 
                {% if forloop.index0 != 0 %}
                    {% assign hidden = "hidden" %} 
                {% endif %}
                <img class="portfolio-image {{hidden}}" src="/images/portfolio/{{ image }}" />
                {% endfor %}
                <nav class="image-nav">
                    {% if piece.images.size > 1 %}
                    <span class="arrow prev-image">&larr;</span>
                    <span class="arrow next-image">&rarr;</span>
                    <span class="arrow close-link">X</span>
                    {% else %}
                    <span class="arrow close-link full-length">close</span>
                    {% endif %}
                </nav>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
